

  .user-list-wrapper{
    display: flex;
    flex-direction: column;
  }

  .user-dialog-close-button{
    cursor: pointer;
    color: #898D8F;
  }

  .user-dialog-title{
    display: flex;
    justify-content: space-between;
  }
  .user-item{
    display: flex;
    margin: 5px 0;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    border-bottom: 1px solid #D4D7D9;
    padding: 15px 15px;
  }

  .user-list-item{
      display: flex;
  }

  .name-handle{
      display: flex;
      flex-direction: column;
      width: 90%;
  }

  .user-list-name{
    font-size: 16px;
  }

  .user-list-handle{
    color: #898D8F;
    font-size: 14px;
  }

  .follow-button{
    display: flex;
    justify-content: flex-end;
  }
  
