

  .user-list-wrapper{
    display: flex;
    flex-direction: column;
  }
  .user-item{
    display: flex;
  }

  .user-list-item{
      display: flex;
  }

  .name-handle{
      display: flex;
      flex-direction: column;
  }

  
